.footer {
    margin: 0;
    position: relative;
    background-color: #284664;

    &-content{
        padding: 40px 0px 20px 0px;
    }

    &-row {
        @include flex-row;
        margin-right: -15px;
        margin-left: -15px;
        align-items: flex-start;

    }

    &-navigation {
        width: 25%;

        .navigation {
            display: block;

            &-list {
                @include list-unstyled;

                li {
                    margin: 0px 0px 13px 0px;
                }
                a {
                    font-weight: 800;
                    color: #7e90a2;
                    @include td;
                    font-size: 16px;
                    line-height: 1.5;
                    font-family: $nunito;
                    transition: all 0.2s ease;

                    &:hover {
                        color: #fff
                    }
                }
            }
        }

        .visually-hidden {
            position: absolute !important;
            overflow: hidden;
            clip: rect(1px,1px,1px,1px);
            width: 1px;
            height: 1px;
            word-wrap: normal;
            line-height: 1.2;
            font-family: "Montserrat",Helvetica,Arial,sans-serif;
            font-weight: 700;
            color: #284664;
            font-size: 26px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
    &-context {
        width: 75%;
    }

    &__currency-block {
        display: block;
        clear: both;

        .currency-selectpicker {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 0.5px;
            height: 100%;
            padding: 0;
            opacity: 0;
            border: none;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }
    }

    &__dropdown-toggle {
        position: relative;
        margin-top: 25px;
        width: 160px;
        height: 46px;
        display: block;
        margin-bottom: 10px;
        line-height: 46px;
        border-radius: 4px;
        border: solid 1px #cccccc;
        background-color: #fff;
        font-size: 13px;
        font-weight: bold;
        font-family: "Montserrat",Helvetica,Arial,sans-serif;
        color: #284664;
        padding: 0 12px;
        cursor: pointer;

        .filter-option {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: inherit;
            padding-right: inherit;
            padding-bottom: inherit;
            padding-left: inherit;
            height: 100%;
            width: 100%;
            text-align: left;
            .filter-option-inner {
                padding-right: 25px;

                &-inner {
                    overflow: hidden;
                }
            }
        }

        .bs-caret {
            line-height: 46px;
            font-size: 13px;
            font-weight: bold;
            @include monsterrat;
            color: #284664;
            text-align: right;
            white-space: nowrap;

            .caret {
                position: absolute;
                display: inline-block;
                top: 50%;
                right: 12px;
                margin-top: -2px;
                vertical-align: middle;
                width: 14px;
                height: 8px;
                background: url(../../images/arrow_expand_module.png) center no-repeat;
                border: none;
                margin-top: -4px;
                transition: all ease 0.2s;
            }
        }
    }

    &-context {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 75%;
    }

    &-aboutus__field {
        h3 {
            margin: 0px 0px 0px 0px;
            color: #fff;
            font-weight: 700;
            font-family: "Montserrat",Helvetica,Arial,sans-serif;
            line-height: 1.2;
            font-style: 20px;
        }
        p {
            margin: 10px 20px 15px 0px;
            text-align: justify;
            color: #fff;
            font-size: 16px;
            @include nunito;
            line-height: 1.5;
            
        }
    }

    .follow-us {
        margin: 10px 0px 0px 0px;

        span {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            font-weight: bold;
            display: inline-block;
            margin: 0px 20px 0px 0px;
            font-family: "Montserrat",Helvetica,Arial,sans-serif;
        }
    }

    &-followus {
        @include flex-row;
    }



    &__social-links {
        position: relative;
        
        ul {
            @include list-unstyled;
            @include flex-row;
            gap: 15px;
            li {
                a {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    transition: all ease 0.2s;
                    border-radius: 50%;
                    color: #284664;
                    text-align: center;
                    line-height: 25px;
                    background-color: #fff;
                    margin: 3px 2px 0;
                    font-size: 15px;
                }
            }
        }
    }

    .copy-right {
        position: relative;
        cursor: default;

        p {
            font-size: 12px;
            color: #d9d9d9;
            margin: 45px 0px 15px 0px;
            @include nunito;
        }

        .copy-right__content {
            p, a {
                font-size: 12px;
                color: #d9d9d9;
                margin: 0 0 10px;
                @include nunito;
                @include td;
            }
        }
    }
}